<br>
<div class="row">
	<div class="col-sm-8">
		<dr-pagination [totalItems]="restaurantList?.count" [pageSize]="12" (pageChange)="updateRestaurants($event)"></dr-pagination>
	</div>
	<div class="col-sm-4">
    <form class="row">
      <label class="col-sm-4"><b>Price range</b></label>
      <input class="form-control col-sm-3" name="priceFrom" type="number" [(ngModel)]="filter.priceFrom" (ngModelChange)="updateRestaurants()">
      <input class="form-control col-sm-3" name="priceTo" type="number" [(ngModel)]="filter.priceTo" (ngModelChange)="updateRestaurants()">
    </form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
    <div class="row">
      <div *ngFor="let restaurant of restaurantList?.results" class="col-sm-4">
        <dr-restaurant-item [restaurant]="restaurant"></dr-restaurant-item>
      </div>
    </div>
	</div>
</div>